:root{
    --primary-color: #181818;
    --second-color: #202022;
    --white-color: #f2f2f2;
    --slide-transform: 0;
    --transition: transform 1s;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--primary-color);
}

img{
    max-width: 100%;
}

.header{
    background-color: var(--second-color);
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    height: 72px;
}

.header__contents{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.header__logo{
    color: var(--white-color);
    font-size: 25px;
    float: left;
    line-height: 72px;
}

.header__nav{
    float: right;
    line-height: 72px;
}

.header__items{
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size:15px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.header__items:hover{
    background-color: #f56f3a;
    border-radius: 50px;
}

.title__style{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: var(--white-color);
    margin: 0;
}

.input__container{
    margin: 50px auto;
    width: 500px;
    height: 50px;
    position: relative;
}

.input{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.input__style{
    width: 100%;
    height: 50px;
    background-color: var(--second-color);
    border: none;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.input__style::-webkit-input-placeholder {
    color: #65737e;
}
  
.input__style:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
  
.input__style::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
  
.input__style:-ms-input-placeholder {  
    color: #65737e;  
}

.input__icon{
    position: absolute;
    color: #4f5b66;
    left: 12px;
    top: 50%;
    transform: translateY(50%);
}

.input__style:hover, .input__style:focus, .input__style:active{
    outline:none;
    background: var(--white-color);
}

.slider{
    display: flex;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
}

.slider__container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50px;
}

.slider__element{
    min-width: 100%;
    height: 400px;
    font-size: 3rem;
    text-align: center;
    line-height: 400px;
}